.image
{
    width: 10%;
    height: 10%;
    margin: 30px;
}
.image1
{
    width: 30%;
    height: 30%;
    margin: 25px;
}
.box
{
    margin: auto;
    height: auto;
    background-color: darkgray
}
#container
{
    margin: auto;xx
    height: auto;
    background-color: bisque
}
.name
{
    position: relative
    float : left
}
c
{
    font-size: 30px;
}
li
{
    font-size: 30px;
}